

*{
    margin:0px;
    border:0px;
    box-sizing:border-box
}
body{
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  /*apply to header*/
header {
    padding:20px 35px;
    background-color: #61ad78;
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position:relative;
    
}
header h1 {
    font-weight: bold;
    font-size: 55px;
    color: #808be9;
    margin: 20px;
    display:flex;
    text-align: center;
    position: relative;
  }
header img {
    width:200px;
    border-style: outset;
    border-radius: 5px;
    outline-width: 5px;
    outline-color: salmon;
    align-items: center;
    display: flex;
    box-sizing: border-box;


}
  
header a {
    text-decoration: none;
    color: #355394;
  }
header nav {
    float:right;
    margin:7px 0;
}
header nav ul  {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
header nav ul li a {
    margin:0px 30px;
    font-weight: lighter;
    font-size: 20px;
}
/* header nav bar end */
/* footer start */
footer {
    background: #0a5c23;

    width: 100%;
    padding: 40px 35px;
    display:block;
    justify-content: center;
    position: relative;
    text-align: center;

  }
footer h3 {
    
    color: #db1fc2;
    font-size: 16px;
    margin: 15px;
    padding:60px;


  }
footer iframe {
    width: 400px;
    height: 300px;
  }

  /* footer end  */
  /* all section tags */
  section {
    padding: 60px;
  }
 
/* section title styles */

.section-title {
    text-align: center;
    font-size: 55px;
    color: #8c1e9b;
    margin-bottom: 35px;

    display: flex;
    flex-grow: 5%;
    border-bottom: 3px solid;
}



/*The "about me" section, I think I need to add a media query to the background image*/

.about {
content: normal;
display: flex;
flex-wrap: wrap;
padding: 60px;
position: relative;
text-align: center;
border-color: aquamarine;
}
/* I didnt wrap the background picture because I didn't really know how */
.about::before {
    content: "";
    background-image: url(./images/uzbekistanmadrasa.jpg);
    background-size: cover;
    position: absolute;
    top:0px;
    right:0px;
    bottom: 0px;
    left: 0px;
    opacity:35%;

}

.about p{
  line-height: 1.7pw;
  color:rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  text-align: left;
  margin: 0 0 0 0;
}

/*projects I've worked on*/
.project{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

    }
    .project h2 {
        display:block ;
    }
    .project-box1{
        
    margin: 0 auto 30px auto;
    background-color: skyblue;
    color: rgb(131, 9, 121);
    width:100%;
    height: 400px;
    flex-grow: 1;
    overflow: auto;
    padding:60px;
    margin-left: 15px;

    }
    .project-box {
    margin: 0 auto 30px auto;
    background-color: skyblue;
    color: rgb(131, 9, 121);
    width:400px;
    height: 600px;
    flex-grow: 1;
    overflow: auto;
    padding:60px;
    margin-left: 15px;
      
    }
    .project-img{
    
      float: left;
      opacity:40%;
    }
    .project-img img {
        height: 400px;
        width:400px;
    }
    
    .project-info{
        padding: 20px;
        float: left;
        width: 95%;
    }
    .project-info h3 {
      font-size: 50px;
      line-height: 1.5;
      margin-bottom: 8px;
    }
    
    .project-info h4 {
      font-weight: lighter;
      font-size: 26px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
    
    .project-info p {
      font-size: 2.55pw;
      line-height: 1.3;
    }
    .resume{
        text-align: center;
    }
    .resume button {
        width: 200px;
        height: 100px;
        background-color: darkseagreen;
    }
    


/* contact info */
.contact {
    margin: 0 0 0 0;
    padding: 60px;
  text-align:left;
  background:salmon;
 
  position:relative;
  box-sizing:border-box;
  width:95%;
}
.contact ul {
    display:flex;
    flex-wrap:wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    list-style:none;

}
